In [46]:
import pandas as pd
import numpy as np


    
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas
pd.set_option('display.max_rows', None)  # Mostrar todas las filas
pd.set_option('display.max_colwidth', None) # Mostrar el contenido completo de las celdas

In [47]:
df2 = pd.read_csv("C:/Users/luiso/IRONHACK/w3-project_SQL/data/film.csv")

df2.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [48]:
dim_original = df2.shape
film = df2.copy()
film.shape, dim_original

((1000, 13), (1000, 13))

In [49]:
film.info()

film.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 101.7+ KB

film_id                    0
title                      0
description                0
release_year               0
language_id                0
original_language_id    1000
rental_duration            0
rental_rate                0
length                     0
replacement_cost           0
rating                     0
special_features           0
last_update                0
dtype: int64

In [50]:
film.duplicated().sum()

0

In [51]:
# Eliminar la columna "oriiginal_language_id" porque no aporta información

film.drop(columns = ["original_language_id"], inplace = True)

In [52]:
film.head()

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico,2006,1,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [53]:
# Vamos a crear 3 columnas nuevas con los valores de special_features

film["Behind_the_Scenes"] = film["special_features"].str.contains("Behind the Scenes")
film["Commentaries"] = film["special_features"].str.contains("Commentaries")
film["Deleted_Scenes"] = film["special_features"].str.contains("Deleted Scenes")

# Especificamos que las peliculas que no tienen ninguno de estos valores, se les asigna un False a las no la tienen y True a las que si tienen

film["Behind_the_Scenes"] = film["Behind_the_Scenes"].fillna(False)
film["Commentaries"] = film["Commentaries"].fillna(False)
film["Deleted_Scenes"] = film["Deleted_Scenes"].fillna(False)

# Ahora quiero sustituir los valores True y False por "Included" y "Not_included" respectivamente a traves de una función

def special_features(x):
    if x == True:
        return "Included"
    else:
        return "Not_included"

# Aplicamos la función a las 3 columnas nuevas

film["Behind_the_Scenes"] = film["Behind_the_Scenes"].apply(special_features)
film["Commentaries"] = film["Commentaries"].apply(special_features)
film["Deleted_Scenes"] = film["Deleted_Scenes"].apply(special_features)








film.head()

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,Behind_the_Scenes,Commentaries,Deleted_Scenes
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,Included,Not_included,Included
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42,Not_included,Not_included,Included
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42,Not_included,Not_included,Included
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42,Included,Included,Not_included
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico,2006,1,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42,Not_included,Not_included,Included

In [54]:
# Eliminamos la columna "special_features" porque ya no nos aporta información

film.drop(columns = ["special_features"], inplace = True)

In [55]:
film.head()

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,Behind_the_Scenes,Commentaries,Deleted_Scenes
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies,2006,1,6,0.99,86,20.99,PG,2006-02-15 05:03:42,Included,Not_included,Included
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China,2006,1,3,4.99,48,12.99,G,2006-02-15 05:03:42,Not_included,Not_included,Included
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory,2006,1,7,2.99,50,18.99,NC-17,2006-02-15 05:03:42,Not_included,Not_included,Included
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank,2006,1,5,2.99,117,26.99,G,2006-02-15 05:03:42,Included,Included,Not_included
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico,2006,1,6,2.99,130,22.99,G,2006-02-15 05:03:42,Not_included,Not_included,Included

In [57]:
# Cambiar los nombres de las columnas a minúsculas

film.columns = film.columns.str.lower()

film.head()

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,behind_the_scenes,commentaries,deleted_scenes
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies,2006,1,6,0.99,86,20.99,PG,2006-02-15 05:03:42,Included,Not_included,Included
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China,2006,1,3,4.99,48,12.99,G,2006-02-15 05:03:42,Not_included,Not_included,Included
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory,2006,1,7,2.99,50,18.99,NC-17,2006-02-15 05:03:42,Not_included,Not_included,Included
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank,2006,1,5,2.99,117,26.99,G,2006-02-15 05:03:42,Included,Included,Not_included
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico,2006,1,6,2.99,130,22.99,G,2006-02-15 05:03:42,Not_included,Not_included,Included

In [58]:
# Exportar a csv

film.to_csv("C:/Users/luiso/IRONHACK/Blockbuster_Project_2/film_clean.csv", index = False)